.sign-in-button p {
    padding-left: 0.5rem;
}

.sign-in-button:hover {
    border: 4px solid #484b3b;
    box-shadow: none;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-button {
    display: block;
    margin: 50px auto 30px;
    width: 22%;
    height: 50px;
    font-size: 1.25rem;
    background-color: #B0B08F;
    color: white;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: none;
    box-shadow: 12px 12px 24px rgba(125, 125, 125, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}


.sign-in-button:hover,
.sign-in-button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.sign-in-button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(125, 125, 125, 0.64);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.sign-in-button:hover::after,
.sign-in-button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

@media (max-width: 800px) {

    .sign-in-button {
        width: 38%;
    }
}